.card {
    width: 20rem;
    margin: 1rem;
    flex: 0 0 auto; /* Prevents cards from growing */
  }
  
  .card img {
    max-width: 100%;
  }
  
  .card-body {
    text-align: left;
  }
  .photogrpaher-cards{

    display: flex;
    padding: 0.5rem;
    
    
    
    
    }
    .heading2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        text-align: center;
    }