<div class="container1">
<div class="container2">
    <img src="../../../../assets/camra_icon.png" alt="Logo" width="100" height="100" class="d-inline-block align-text-top cam-img">
    <h1 >
        HOW IT WORKS?
    </h1>
</div>
    <ol>
  <li>
      <!-- <div class="icon"><i class="fa-solid fa-bicycle"></i></div> -->
      <div class="title">Book</div>
      <div class="descr">We'll assign the best photographer that matches your needs</div>
  </li>
  <li>
    <!-- <div class="icon"><i class="fa-solid fa-car"></i></div> -->
    <div class="title">Plan</div>
    <div class="descr">Your photographer is ready to discuss and plan the shoot </div>
</li>
<li>
    <!-- <div class="icon"><i class="fa-solid fa-helicopter"></i></div> -->
    <div class="title">Shoot</div>
    <div class="descr">Your photographer will arrive on time </div>
</li>

</ol>

</div>