<div>
      

    <img src={{photographer.profilePicture}} alt="Image not Found" class="profileImage">
  
  <h1>Welcome to the LenzPerson <span [style]="nameStyle">{{ name }}</span></h1>
  <p>Here is a Chance to show your photography skills </p>
  
</div>
<div class="detail">
  <span>
 
    <p><b>Name: </b> {{photographer.firstName}}</p>
    <p><b>Email: </b>{{photographer.email}}</p>
    <p><b>Contact Number: </b>{{photographer.phoneNumber}}</p>
    <p><b>Gender: </b>{{photographer.gender}}</p>
    <p><b>City: </b>{{photographer.city}}</p>
    <p><b>InstaHandle: </b>{{photographer.instaHandle}}</p>
    <p><b>CameraUsed: </b>{{photographer.cameraUsed}}</p>
    <p><b>PreferredPhotoshootTypes: </b>{{photographer.preferredPhotoshootTypes}}</p>

  </span>
